@font-face {
	font-family: Inter;
	src: url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
}

@font-face {
	font-family: Poppins;
	src: url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
}

.info {
  padding-top: 5%;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 35px;
}

li#input-email {
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 30px;
	background-color: rgba(87, 166, 255, 0.25);
	font-weight: bold;
	color: white;
}

li#input-first_name {
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 30px;
	background-color: rgba(87, 166, 255, 0.25);
	font-weight: bold;
	color: white;
}

li#input-last_name {
	margin-bottom: 1.5em;
	font-size: 30px;
	background-color: rgba(87, 166, 255, 0.25);
	font-weight: bold;
	color: white;
}

li#input-submit{
	padding-top: 25px;
	font-size: 30px;
	font-family: 'Inter', sans-serif;
}

.form {
	text-align: center;
	padding-top: 15%;
	padding-bottom: 15%;
	position: relative;
	font-family: 'Inter', sans-serif;
}

body {
	background-image: url("../assets/campus.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (min-width: 340px) and (max-width: 480px){
body {
		background-size: auto auto;
	}

	label {
		display: inline-block;
	}

	li#input-email {
	float: left;
	margin-bottom: 1.5em;
	font-size: 25px;
	background-color: rgba(87, 166, 255, 0.25);
	font-weight: bold;
	color: white;
	display: inline-block;
}

	li#input-first_name {
		float: left;
		margin-bottom: 1.5em;
		font-size: 25px;
		background-color: rgba(87, 166, 255, 0.25);
		font-weight: bold;
		color: white;
		display: inline-block;
}

	li#input-last_name {
		float: left;
		margin-bottom: 1.5em;
		font-size: 25px;
		background-color: rgba(87, 166, 255, 0.25);
		font-weight: bold;
		color: white;
		display: inline-block;
	}

	li#input-submit{
		padding-top: 25px;
		font-size: 25px;
		font-family: 'Inter', s\ans-serif;
		display: inline-block;
	}

	.form {
		text-align: center;
		padding-top: 15%;
		padding-bottom: 15%;
		position: relative;
		font-family: 'Inter', sans-serif;
	}
}

@media screen and (max-width: 480px){
	
	body {
		background-size: auto auto;
	}

	label {
		display: inline-block;
	}

	li#input-email {
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 25px;
	background-color: rgba(87, 166, 255, 0.25);
	font-weight: bold;
	color: white;
	display: inline-block;
	}

	li#input-first_name {
		text-align: center;
		margin-bottom: 1.5em;
		font-size: 25px;
		background-color: rgba(87, 166, 255, 0.25);
		font-weight: bold;
		color: white;
		display: inline-block;
}

	li#input-last_name {
		margin-bottom: 1.5em;
		font-size: 25px;
		background-color: rgba(87, 166, 255, 0.25);
		font-weight: bold;
		color: white;
		display: inline-block;
	}

	li#input-submit{
		padding-top: 25px;
		padding-left: 40%;
		font-size: 25px;
		font-family: 'Inter', sans-serif;
		display: inline-block;
		float: left;

	}

	.form {
		text-align: center;
		padding-top: 15%;
		padding-bottom: 15%;
		position: relative;
		font-family: 'Inter', sans-serif;
	}
}